* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

.container img {
	background-size: cover;
	background-position: center;
}

#clock {
	font-size: 30px;
	justify-content: center;
}

header {
	border: 1px solid;
	background-color: rgb(155, 175, 150);
}

header h1 {
	float: left;
	padding: 15px 0;
	color: #045a12;
}

header ul {
	float: right;
}

header ul li {
	display: inline-block;
}

header ul li a {
	padding: 25px 20px;
	display: inline-block;
}

header ul li a:hover {
	background-color: #045a12;
	color: #fff;
}

.active {
	background-color: #045a12;
	color: #fff;
}

.banner {
	height: 59vh;
	background-image: url('../images/home_banner.jpg');
	background-size: contain; 
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.banner h2 {
	font-size: 30px;
	color: rgb(68, 49, 49);
	z-index: 1;
}

section {
	padding: 50px 0; 
}

section h3 {
	font-size: 28px;
	text-align: center;
	padding: 20px 0;
	color: #045a12;
	margin-bottom: 20px;
}

.profile p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	text-align: left;
	padding: 30px 25px;
	float: left;
}

.label {
	background-color:#045a12; 
	color: #fff;
}

.hometown p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}

.food p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	float: left;
	padding: 20px 30px;
}

.tourist p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}

footer {
	padding: 30px 0;
	background-color: #333;
	color: #fff;
	text-align: left;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
}

.left {
	display: block;
	padding-right: 25px;
}

.right {
	display: block;
	padding-left: 15px;
}